<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.label.order.dao.UrValueFkMapper">

    <resultMap type="com.middle.label.order.entity.po.UrValueFk" id="UrValueFkMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="dstatuschange" column="DStatusChange" jdbcType="TIMESTAMP"/>
        <result property="idScproduct" column="Id_scProduct" jdbcType="INTEGER"/>
        <result property="idRequest" column="ID_Request" jdbcType="INTEGER"/>
        <result property="ccodeScproduct" column="Ccode_scProduct" jdbcType="VARCHAR"/>
        <result property="ccodeScaproduct" column="Ccode_scAProduct" jdbcType="VARCHAR"/>
        <result property="cnameScaproduct" column="Cname_scAProduct" jdbcType="VARCHAR"/>
        <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
        <result property="orderNumber" column="order_number" jdbcType="VARCHAR"/>
        <result property="customerNumber" column="customer_number" jdbcType="VARCHAR"/>
        <result property="customerMaterialNumber" column="customer_material_number" jdbcType="VARCHAR"/>
        <result property="inspection" column="inspection" jdbcType="VARCHAR"/>
        <result property="length" column="Length" jdbcType="OTHER"/>
        <result property="width" column="Width" jdbcType="OTHER"/>
        <result property="height" column="Height" jdbcType="OTHER"/>
        <result property="productionSerial" column="Production_serial" jdbcType="INTEGER"/>
        <result property="isPack" column="Is_pack" jdbcType="VARCHAR"/>
        <result property="isPrint" column="Is_print" jdbcType="VARCHAR"/>
        <result property="drugSpecification" column="Drug_specification" jdbcType="VARCHAR"/>
        <result property="machine" column="Machine" jdbcType="VARCHAR"/>
        <result property="namount" column="nAmount" jdbcType="OTHER"/>
        <result property="customer" column="Customer" jdbcType="VARCHAR"/>
        <result property="qrCode" column="QR_code" jdbcType="VARCHAR"/>
        <result property="isComplete" column="is_complete" jdbcType="INTEGER"/>
        <result property="reprintingTime" column="Reprinting_time" jdbcType="INTEGER"/>
        <result property="iIndex" column="iIndex" jdbcType="VARCHAR"/>
        <result property="team" column="Team" jdbcType="VARCHAR"/>
        <result property="operator" column="Operator" jdbcType="VARCHAR"/>
        <result property="isinto" column="isinto" jdbcType="INTEGER"/>
        <result property="isgather" column="isGather" jdbcType="INTEGER"/>
        <result property="nweight" column="nweight" jdbcType="OTHER"/>
        <result property="cremark" column="cremark" jdbcType="VARCHAR"/>
        <result property="iboxtag" column="iboxtag" jdbcType="INTEGER"/>
        <result property="cclass" column="cClass" jdbcType="VARCHAR"/>
        <result property="camountunit" column="camountunit" jdbcType="VARCHAR"/>
        <result property="ivers" column="ivers" jdbcType="INTEGER"/>

    </resultMap>
    <select id="getOrderBoxInfoForUpdate" resultMap="UrValueFkMap" parameterType="com.middle.label.order.entity.dto.OrderBoxInfoDTO">
        SELECT top 1 * FROM  [dbo].[UR_VALUE_FK]
        where (is_complete = -20
        or (is_complete = 20 and Machine = #{machine} ))
        and Id_scProduct = #{idScproduct}
        order by CAST(iIndex AS INT);
    </select>

    <select id="getOrderListSearch" resultType="com.middle.label.order.entity.po.UrValueFk" parameterType="com.middle.label.order.entity.dto.GetOrderListPageDTO">
        SELECT
        Ccode_scProduct as ccodeScproduct,
        Ccode_scAProduct as ccodeScaproduct,
        Cname_scAProduct as cnameScaproduct,
        customer_name as customerName,
        order_number as orderNumber,
        customer_number as customerNumber,
        customer_material_number as customerMaterialNumber,
        inspection as inspection,
        Drug_specification as drugSpecification,
        Machine as machine,
        nAmount as namount,
        Customer as customer,
        QR_code as qrCode,
        Reprinting_time as reprintingTime,
        iIndex as iIndex,
        Team as team,
        Operator as operator,
        nweight as nweight,
        cremark as cremark,
        iboxtag as iboxtag,
        cClass as cclass,
        ivers as ivers,
        camountunit as camountunit,
        Id_ur_value_fk as id,
        ddate as dstatuschange
        FROM dbo.UR_VALUE_PRINTSAVE
        where Machine = #{machine}
        <if test="id != null">
            and Id_ur_value_fk = #{id}
        </if>
        <if test="ccodeScproduct != null and ccodeScproduct != ''">
            and Ccode_scProduct = #{ccodeScproduct}
        </if>
        <if test="iIndex != null and iIndex != ''">
            and iIndex = #{iIndex}
        </if>
    </select>
</mapper>
