<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.label.order.dao.UrValueFkLogMapper">

    <resultMap type="com.middle.label.order.entity.po.UrValueFkLog" id="UrValueFkLogMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="dstatuschange" column="DStatusChange" jdbcType="TIMESTAMP"/>
        <result property="idScproduct" column="Id_scProduct" jdbcType="INTEGER"/>
        <result property="idRequest" column="ID_Request" jdbcType="INTEGER"/>
        <result property="ccodeScproduct" column="Ccode_scProduct" jdbcType="VARCHAR"/>
        <result property="ccodeOnly" column="Ccode_Only" jdbcType="VARCHAR"/>
        <result property="machine" column="Machine" jdbcType="VARCHAR"/>
        <result property="team" column="Team" jdbcType="VARCHAR"/>
        <result property="operator" column="Operator" jdbcType="VARCHAR"/>
        <result property="operationType" column="Operation_type" jdbcType="VARCHAR"/>
        <result property="remarks" column="Remarks" jdbcType="VARCHAR"/>
    </resultMap>

    

</mapper>
