<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.label.config.dao.LabelConfigMapper">
<select id="getConfig" resultType="com.middle.label.config.entity.LabelConfig">
    SELECT
        TOP 1
        label_config.config_id,
        label_config.plc_ip,
        label_config.plc_port
    FROM
        dbo.label_config
</select>
</mapper>
